.intro {
	background: linear-gradient(
			to bottom,
			rgba(255, 255, 255, 0) 80%,
			rgb(0, 0, 0)
		),
		url("Model-S-Main.jpeg") no-repeat center;
	background-size: cover;
	height: 100vh;
	z-index: 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.header {
	z-index: 2;
}
.cont {
	color: white;
	text-align: center;
}
.cont h2 {
	font-size: 27px;
	font-weight: 500;
}
.foot {
	display: flex;
	justify-content: space-around;
	width: 50%;
}
.button {
	border: 3px solid white;
	width: 200px;
	color: white;
}
.interior {
	background: linear-gradient(to top, rgba(255, 255, 255, 0) 80%, rgb(0, 0, 0)),
		url("MS-Interior-Hero-Desktop.jpeg") no-repeat center;
	background-size: cover;
	height: 100vh;
	z-index: 0;
	text-align: center;
	padding-top: 200px;
	color: white;
}
#int {
	color: white;
	margin-top: -150px;
	font-size: 30px;
}
.videos {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	background-color: black;
}
#Videos {
	margin: 40px;
	margin-top: 50px;
	padding: 20px;
	text-align: left;
	width: 40%;
	font-size: 15px;
}
#Videos h4 {
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 20px;
}
video {
	border-radius: 20px;
}
.features {
	background-color: black;
	display: flex;
	justify-content: center;
	height: 100vh;
}
.connected {
	height: 315px;
	width: 50%;
	display: flex;
	justify-content: space-around;
}
.cont {
	margin: auto;
	margin-left: 20px;
	font-size: small;
}
